PORT=

# Azure OpenAI

AZURE_OPENAI_API_DEPLOYMENT_NAME=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_VERSION=
AZURE_OPENAI_API_BASE_PATH=

# JWT
JWT_SECRET=

# Redis
REDIS_URL=


API_VERSION =



DB_URL=

